@font-face {
  font-family: "talkingMoon";
  src: url(TalkingToTheMoon.ttf);
  format: (truetype);
}
/* begin background images/ page specific */
body.home {
  background-image: url("images/test.jpg");
  background-color: #d3e2e7;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
body.about {
  background-image: url("images/superior.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
body.portfolio {
  background-image: url("images/heart.jpg");
  background-position: center center;
  background-attachment: fixed;
*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
body.resume {
  background-image: url("images/barn.jpg");
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
body.contact {
  background-image: url("..");
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
/* End background images - commented out until I can find out why this
is interfering with my header*/
header {
  width: 100%;
  height: 200px;
  position: fixed;
  }
h1 {
  font-family: talkingMoon, cursive;
  font-size: 250%;
  color: navy;
  position: absolute;
  right: 11%;
  top: 48%;
  z-index: 3;
  }
img.signature {
    position: absolute;
    width: 400px;
        right: 8%;
    z-index: 2;
}
nav {
  position: absolute;
  top: 85%;
  right: 8%;
}
nav li {
  display: inline;
  margin-right: 2%;
  font-size: 145%;
  line-height: 60%;
  font-family: talkingMoon, cursive;
}
a {
  text-decoration: none;
  color: navy;
}
li#main {
  visibility: hidden;
}
/* End of header */
/*Contact Page*/
div.contact {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 20%;
  bottom: 20%;
    }
img.twitter {
  height: 60px;
    }
img.instagram {
  height: 60px;
  padding: 2px;
  background-color: silver;
  border-radius: 50%;
    }
img.linkedin {
  height: 60px;
  }
img.twitter.instagram.linkedin {
  background-color: silver;
}
/*attempt transform with hover*/
img.twitter:hover {
  transform: rotate(360deg);
}
/*Start About Section*/
div#about {
  position: absolute;
  width: 30%;
  left: 10%;
  top: 10%;
  padding: 15px;
  text-align: center;
  background-color: #250a3c;
  font-family: "talkingMoon", cursive;
  font-size: 122%;
  color: white;
  border-radius: 5%;
 }
/*End About Section*/
/*Start of Portfolio Page*/
div#projects {
  height: auto;
  width: 50%;
/*  position:relative;*/
      }
 .row2 {
   clear: left;
 }
/* #grid {
   position:absolute;
   top: 50%;
   transform: translateY(-50%);
 }*/
  div div {
    width: 27%;
    float:left;
    margin: 2%;
    background-color: silver;
    text-align: center;
    padding: 1%;
    border-radius: 5%;
    font-family: tlakingMoon, cursive;
    }
  div div p {
    margin: 2px;
    font-size:70%
    display:inline-block;
  }
  div div h4 {
    font-size: 70%;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  img.portfolio {
    width: 45%;

@media screen and (max-width: 800px) {
    div#about {
    position: absolute;
    width: 95%;
    left: 0.5%;
    top: 55%;
    }
    div#projects{
      position: absolute;
      height: 50%;
      width:auto;
      top: 45%;
    }
     }
@media screen and (max-width: 400px) {
         img.signature {
           visibility: hidden;
         }
  }
